parameters:
    paths:
        - src
        - tests
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
