parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''payload'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Analyzer/FileCache.php

		-
			message: '#^Cannot access offset ''version'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Analyzer/FileCache.php

		-
			message: '#^Method App\\Analyzer\\FileCache\:\:get\(\) should return array but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Analyzer/FileCache.php

		-
			message: '#^Property App\\Analyzer\\FileCache\:\:\$cache \(array\<string, array\>\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Analyzer/FileCache.php

		-
			message: '#^Method App\\Analyzer\\MemoizingAnalyzer\:\:analyze\(\) should return array\<App\\Value\\Violation\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Analyzer/MemoizingAnalyzer.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Analyzer/RstAnalyzer.php

		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Analyzer/RstAnalyzer.php

		-
			message: '#^Parameter \#2 \$value of method Symfony\\Component\\DependencyInjection\\Container\:\:setParameter\(\) expects array\|bool\|float\|int\|string\|UnitEnum\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Application.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Command/AnalyzeCommand.php

		-
			message: '#^Cannot access offset ''exclude_rule_for_file'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/AnalyzeCommand.php

		-
			message: '#^Cannot access offset ''path'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/AnalyzeCommand.php

		-
			message: '#^Cannot access offset ''rule_name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/AnalyzeCommand.php

		-
			message: '#^Cannot access offset ''rules'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/AnalyzeCommand.php

		-
			message: '#^Cannot access offset ''whitelist'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/AnalyzeCommand.php

		-
			message: '#^Parameter \#1 \$excludedViolationConfig of class App\\Value\\ExcludedViolationList constructor expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/AnalyzeCommand.php

		-
			message: '#^Parameter \#1 \$options of method App\\Rule\\Configurable\:\:setOptions\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/AnalyzeCommand.php

		-
			message: '#^Parameter \#1 \$value of static method App\\Value\\RuleName\:\:fromString\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Command/AnalyzeCommand.php

		-
			message: '#^Parameter \#2 \$whitelistConfig of class App\\Value\\AnalyzerResult constructor expects array\{regex\?\: array\<string\>, lines\?\: array\<string\>\}, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/AnalyzeCommand.php

		-
			message: '#^Cannot access offset ''default'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/RulesCommand.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Command/RulesCommand.php

		-
			message: '#^Cannot access offset ''required'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Command/RulesCommand.php

		-
			message: '#^Cannot access offset ''types'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Command/RulesCommand.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Command/RulesCommand.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: src/Command/RulesCommand.php

		-
			message: '#^Strict comparison using \!\=\= between array\{\} and non\-empty\-array\<''default''\|''name''\|''required''\|''types''\|int\<0, max\>, mixed\> will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Command/RulesCommand.php

		-
			message: '#^Cannot call method hasViolations\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Formatter/ConsoleFormatter.php

		-
			message: '#^Cannot call method violationList\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Formatter/ConsoleFormatter.php

		-
			message: '#^Parameter \#3 \$fileResult of method App\\Formatter\\ConsoleFormatter\:\:formatValidFile\(\) expects App\\Value\\FileResult, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Formatter/ConsoleFormatter.php

		-
			message: '#^Parameter \#3 \$fileResult of method App\\Formatter\\ConsoleFormatter\:\:formatViolationList\(\) expects App\\Value\\FileResult, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Formatter/ConsoleFormatter.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Formatter/GithubFormatter.php

		-
			message: '#^Cannot call method filename\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Formatter/GithubFormatter.php

		-
			message: '#^Cannot call method lineno\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Formatter/GithubFormatter.php

		-
			message: '#^Cannot call method message\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Formatter/GithubFormatter.php

		-
			message: '#^Cannot call method violationList\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Formatter/GithubFormatter.php

		-
			message: '#^Cannot call method violations\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Formatter/GithubFormatter.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Formatter/GithubFormatter.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Formatter/GithubFormatter.php

		-
			message: '#^Parameter \#4 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Formatter/GithubFormatter.php

		-
			message: '#^Property App\\Handler\\Registry\:\:\$rules \(array\<string, App\\Rule\\Rule\>\) does not accept array\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Handler/Registry.php

		-
			message: '#^Call to static method Webmozart\\Assert\\Assert\:\:string\(\) with non\-empty\-string will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: src/Rst/Value/LinkDefinition.php

		-
			message: '#^Call to static method Webmozart\\Assert\\Assert\:\:string\(\) with string will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: src/Rst/Value/LinkDefinition.php

		-
			message: '#^Call to static method Webmozart\\Assert\\Assert\:\:string\(\) with non\-falsy\-string will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: src/Rst/Value/LinkUsage.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/ArgumentVariableMustMatchType.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/ArgumentVariableMustMatchType.php

		-
			message: '#^Property App\\Rule\\ArgumentVariableMustMatchType\:\:\$arguments \(array\<array\{type\: string, name\: string\}\>\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rule/ArgumentVariableMustMatchType.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/AvoidRepetetiveWords.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/BlankLineAfterColon.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/BlankLineAfterFilepathInCodeBlock.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/BlankLineAfterFilepathInPhpCodeBlock.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/BlankLineAfterFilepathInTwigCodeBlock.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/BlankLineAfterFilepathInXmlCodeBlock.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/BlankLineAfterFilepathInYamlCodeBlock.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/DeprecatedDirectiveMajorVersion.php

		-
			message: '#^Property App\\Rule\\DeprecatedDirectiveMajorVersion\:\:\$majorVersion \(int\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rule/DeprecatedDirectiveMajorVersion.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/DeprecatedDirectiveMinVersion.php

		-
			message: '#^Property App\\Rule\\DeprecatedDirectiveMinVersion\:\:\$minVersion \(string\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rule/DeprecatedDirectiveMinVersion.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/DeprecatedDirectiveShouldHaveVersion.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/EnsureBashPromptBeforeComposerCommand.php

		-
			message: '#^Cannot access offset 1 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Rule/EnsureExplicitNullableTypes.php

		-
			message: '#^Parameter \#1 \$haystack of function str_starts_with expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/EnsureExplicitNullableTypes.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/EnsureExplicitNullableTypes.php

		-
			message: '#^Property App\\Rule\\EnsureGithubDirectiveStartWithPrefix\:\:\$prefix \(string\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rule/EnsureGithubDirectiveStartWithPrefix.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/ExtensionXlfInsteadOfXliff.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\|string\)\: non\-empty\-array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/ForbiddenDirectives.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/ForbiddenDirectives.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/ForbiddenDirectives.php

		-
			message: '#^Property App\\Rule\\ForbiddenDirectives\:\:\$forbiddenDirectives \(array\<array\{directive\: string, replacements\: array\<string\>\|null\}\>\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rule/ForbiddenDirectives.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/Indention.php

		-
			message: '#^Property App\\Rule\\Indention\:\:\$size \(int\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rule/Indention.php

		-
			message: '#^Property App\\Rule\\LineLength\:\:\$max \(int\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rule/LineLength.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/LowercaseAsInUseStatements.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/LowercaseAsInUseStatements.php

		-
			message: '#^Property App\\Rule\\MaxBlankLines\:\:\$max \(int\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rule/MaxBlankLines.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/MaxColons.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/NoBlankLineAfterFilepathInCodeBlock.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/NoBlankLineAfterFilepathInPhpCodeBlock.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/NoBlankLineAfterFilepathInTwigCodeBlock.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/NoBlankLineAfterFilepathInXmlCodeBlock.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Rule/NoBlankLineAfterFilepathInYamlCodeBlock.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/NoContraction.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/NoExplicitUseOfCodeBlockPhp.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/NoInheritdocInCodeExamples.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/NonStaticPhpunitAssertions.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/OnlyBackslashesInNamespaceInPhpCodeBlock.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/OnlyBackslashesInUseStatementsInPhpCodeBlock.php

		-
			message: '#^Parameter \#1 \$string of function Symfony\\Component\\String\\u expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/OrderedUseStatements.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/Replacement.php

		-
			message: '#^Parameter \#1 \$string of function Symfony\\Component\\String\\u expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/SpaceBetweenLabelAndLinkInDoc.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/SpaceBetweenLabelAndLinkInDoc.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/SpaceBetweenLabelAndLinkInDoc.php

		-
			message: '#^Parameter \#1 \$string of function Symfony\\Component\\String\\u expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/SpaceBetweenLabelAndLinkInRef.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/SpaceBetweenLabelAndLinkInRef.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/SpaceBetweenLabelAndLinkInRef.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/Typo.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/UseHttpsXsdUrls.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rule/UseNamedConstructorWithoutNewKeywordRule.php

		-
			message: '#^Property App\\Rule\\VersionaddedDirectiveMajorVersion\:\:\$majorVersion \(int\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rule/VersionaddedDirectiveMajorVersion.php

		-
			message: '#^Property App\\Rule\\VersionaddedDirectiveMinVersion\:\:\$minVersion \(string\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rule/VersionaddedDirectiveMinVersion.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rule/YamlInsteadOfYmlSuffix.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: src/Value/ExcludedViolationList.php

		-
			message: '#^Parameter \#2 \$violations of method App\\Value\\ExcludedViolationList\:\:filterViolations\(\) expects array\<App\\Value\\Violation\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Value/ExcludedViolationList.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Value/Line.php

		-
			message: '#^Parameter \#1 \$rule of method App\\Value\\RulesConfiguration\:\:addRuleForAll\(\) expects App\\Rule\\Rule, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Value/RulesConfiguration.php

		-
			message: '#^Parameter \#2 \$rule of method App\\Value\\RulesConfiguration\:\:excludeRuleForFilePath\(\) expects App\\Rule\\Rule, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Value/RulesConfiguration.php

		-
			message: '#^Cannot access offset ''payload'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Analyzer/FileCacheTest.php

		-
			message: '#^Method App\\Tests\\Fixtures\\Rule\\DummyRule\:\:check\(\) never returns string so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Fixtures/Rule/DummyRule.php

		-
			message: '#^Parameter \#1 \$array of static method App\\Value\\Lines\:\:fromArray\(\) expects array\<int, string\>, array\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/RstSample.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''App\\\\Value\\\\RuleName'' and App\\Value\\RuleName will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Rule/FinalAdminClassesTest.php

		-
			message: '#^Parameter \#1 \$prefix of static method PHPUnit\\Framework\\Assert\:\:assertStringStartsWith\(\) expects non\-empty\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Rule/TypoTest.php

		-
			message: '#^Call to function method_exists\(\) with App\\Tests\\Util\\DirectiveTraitWrapper and ''in'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Traits/DirectiveTraitTest.php

		-
			message: '#^Call to function method_exists\(\) with App\\Tests\\Util\\ListItemTraitWrapper and ''isPartOfListItem'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Traits/ListTraitTest.php

		-
			message: '#^Parameter \#2 \$type of static method App\\Rst\\RstParser\:\:codeBlockDirectiveIsTypeOf\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Util/DirectiveTraitWrapper.php

		-
			message: '#^@dataProvider \\Ergebnis\\DataProvider\\StringProvider\:\:blank\(\) related method not found\.$#'
			identifier: phpunit.dataProviderMethod
			count: 1
			path: tests/Value/RuleGroupTest.php

		-
			message: '#^@dataProvider \\Ergebnis\\DataProvider\\StringProvider\:\:empty\(\) related method not found\.$#'
			identifier: phpunit.dataProviderMethod
			count: 1
			path: tests/Value/RuleGroupTest.php

		-
			message: '#^@dataProvider \\Ergebnis\\DataProvider\\StringProvider\:\:blank\(\) related method not found\.$#'
			identifier: phpunit.dataProviderMethod
			count: 2
			path: tests/Value/RuleNameTest.php

		-
			message: '#^@dataProvider \\Ergebnis\\DataProvider\\StringProvider\:\:empty\(\) related method not found\.$#'
			identifier: phpunit.dataProviderMethod
			count: 2
			path: tests/Value/RuleNameTest.php
