includes:
    - phpstan-baseline.neon

parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
    paths:
        - src
        - tests
    level: max
