parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$value of method Symfony\\Component\\DependencyInjection\\Container\:\:setParameter\(\) expects array\|bool\|float\|int\|string\|UnitEnum\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Application.php

		-
			message: "#^Parameter \\#1 \\$prefix of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringStartsWith\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: tests/Rule/TypoTest.php

		-
			message: '#^@dataProvider \\Ergebnis\\DataProvider\\StringProvider\:\:blank\(\) related method not found\.$#'
			identifier: phpunit.dataProviderMethod
			count: 1
			path: tests/Value/RuleGroupTest.php

		-
			message: '#^@dataProvider \\Ergebnis\\DataProvider\\StringProvider\:\:empty\(\) related method not found\.$#'
			identifier: phpunit.dataProviderMethod
			count: 1
			path: tests/Value/RuleGroupTest.php

		-
			message: '#^@dataProvider \\Ergebnis\\DataProvider\\StringProvider\:\:blank\(\) related method not found\.$#'
			identifier: phpunit.dataProviderMethod
			count: 2
			path: tests/Value/RuleNameTest.php

		-
			message: '#^@dataProvider \\Ergebnis\\DataProvider\\StringProvider\:\:empty\(\) related method not found\.$#'
			identifier: phpunit.dataProviderMethod
			count: 2
			path: tests/Value/RuleNameTest.php
