on:
    push:
    pull_request:

name: Build

env:
    REQUIRED_PHP_EXTENSIONS: "ctype, filter, hash, iconv, json"

jobs:
    build:
        name: PHAR

        runs-on: ubuntu-latest

        strategy:
            matrix:
                php-version:
                    - "8.1"

        steps:
            -   name: "Checkout code"
                uses: actions/checkout@v3

            -   name: "Install PHP with extensions"
                uses: "shivammathur/setup-php@2.22.0"
                with:
                    coverage: "none"
                    extensions: "${{ env.REQUIRED_PHP_EXTENSIONS }}"
                    php-version: "${{ matrix.php-version }}"
                    tools: composer:2.4.4

            -   name: "Composer install"
                uses: "ramsey/composer-install@v2"
                with:
                    composer-options: "--optimize-autoloader"

            -   name: "Download humbug/box"
                run: wget --no-clobber --output-document=./box https://github.com/humbug/box/releases/download/4.2.0/box.phar || true

            -   name: "Make humbug/box executable"
                run: chmod +x ./box

            -   name: "Compile phar"
                run: ./box compile

            - run: "ls -la"

            -   name: "Run phar without cache"
                run: bin/doctor-rst.phar analyze dummy/ --no-cache

            -   name: "Cache file should not exist"
                run: "[ ! -f '.doctor-rst.cache' ]"

            -   name: "Run phar with cache enabled"
                run: bin/doctor-rst.phar analyze dummy/

            -   name: "Cache file should exist"
                run: "[ -f '.doctor-rst.cache' ]"

            -   name: "Run phar again with cache enabled to be sure the cache file could be reused"
                run: bin/doctor-rst.phar analyze dummy/

            -   name: "Run phar with custom cache file output"
                run: bin/doctor-rst.phar analyze dummy/ --cache-file=.doctor-rst.cache2

            -   name: "Custom cache file should exist"
                run: "[ -f '.doctor-rst.cache2' ]"
