on:
    push:
        branches:
            - master
    pull_request:

name: CI

env:
    REQUIRED_PHP_EXTENSIONS: "ctype, filter, hash, iconv, json"

jobs:
    phpstan:
        name: PHPStan

        runs-on: ubuntu-latest

        strategy:
            matrix:
                php-version:
                    - "8.0"

        steps:
            - name: "Checkout code"
              uses: actions/checkout@v3

            - name: "Install PHP with extensions"
              uses: "shivammathur/setup-php@2.18.0"
              with:
                  coverage: "none"
                  extensions: "${{ env.REQUIRED_PHP_EXTENSIONS }}"
                  php-version: "${{ matrix.php-version }}"
                  tools: composer:v2

            -   name: "Composer install"
                uses: "ramsey/composer-install@v1"

            - name: "Run PHPStan"
              run: vendor/bin/phpstan analyse -c phpstan.neon.dist

    php-cs-fixer:
        name: PHP-CS-Fixer

        runs-on: ubuntu-latest

        steps:
            - name: "Checkout code"
              uses: actions/checkout@v3

            - name: PHP-CS-Fixer
              uses: docker://oskarstark/php-cs-fixer-ga:3.0.0
              with:
                  args: --diff --dry-run

    tests:
        name: PHPUnit

        runs-on: ubuntu-latest

        strategy:
            matrix:
                php-version:
                    - "8.0"

        steps:
            - name: "Checkout code"
              uses: actions/checkout@v3

            - name: "Install PHP with extensions"
              uses: "shivammathur/setup-php@2.18.0"
              with:
                  coverage: "none"
                  extensions: "${{ env.REQUIRED_PHP_EXTENSIONS }}"
                  php-version: "${{ matrix.php-version }}"
                  tools: composer:v2

            -   name: "Composer install"
                uses: "ramsey/composer-install@v1"
                with:
                    composer-options: "--no-scripts"

            - name: "PHPUnit version"
              run: vendor/bin/phpunit --version

            - name: "Run tests"
              run: vendor/bin/phpunit
