name: "Documentation"

on: # yamllint disable-line rule:truthy
    push:
    pull_request: ~

env:
    COMMITTER_EMAIL: "oskarstark@googlemail.com"
    COMMITTER_NAME: "Oskar Stark"
    REQUIRED_PHP_EXTENSIONS: "ctype, filter, hash, iconv"

jobs:
    generate:
        name: "Generate"

        runs-on: "ubuntu-latest"

        strategy:
            matrix:
                php-version:
                    - "8.2"

        steps:
            -
                name: "Checkout"
                uses: "actions/checkout@v3"
                with:
                    ref: "${{ github.head_ref }}"
                    token: "${{ secrets.GITHUB_TOKEN }}"

            -
                name: "Install PHP with extensions"
                uses: "shivammathur/setup-php@2.25.1"
                with:
                    coverage: "none"
                    extensions: "${{ env.REQUIRED_PHP_EXTENSIONS }}"
                    php-version: "${{ matrix.php-version }}"
                    tools: "composer:v2"


            -   name: "Composer install"
                uses: "ramsey/composer-install@v2"
                with:
                    composer-options: "--no-scripts"

            -
                name: "Regenerate workflow images"
                run: php bin/doctor-rst rules > docs/rules.md

            -
                name: "Commit regenerated docs/rules.md file"
                uses: "stefanzweifel/git-auto-commit-action@v4.16.0"
                with:
                    branch: "${{ github.head_ref }}"
                    commit_author: "${{ env.COMMITTER_NAME }} <${{ env.COMMITTER_EMAIL }}>"
                    commit_message: "Fix: Regenerate docs/rules.md files"
                    commit_user_email: "${{ env.COMMITTER_EMAIL }}"
                    commit_user_name: "${{ env.COMMITTER_NAME }}"
